* {
    font-family: sans-serif;
}

.dark {
    background-color: #1f2937;
    color: #f9faf8;
}

.gray {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.awesome-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.awesome-block div {
    flex: 1;
    margin: 20px;
}